<!-- Define your frontend here. -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Parking CorDapp</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="css/index.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.0-rc.1/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.2.0/ui-bootstrap-tpls.min.js"></script>
    <script src="js/main.js"></script>
    <script src="js/startParking.js"></script>
    <script src="js/issueCashModal.js"></script>
    <script src="js/createParkingSpace.js"></script>
</head>

<body ng-app="demoAppModule" ng-controller="DemoAppCtrl as demoApp">
<div class="application" ng-show="!demoApp.shouldLoad">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">{{demoApp.thisNode}}</a>
            </div>
            <button ng-click="demoApp.openIssueCashModal()" type="button" class="btn btn-primary navbar-btn">Issue cash</button>
            <button ng-click="demoApp.openStartParkingModal()" ng-disabled="!demoApp.hasMinimumCashBalance()" type="button" class="btn btn-primary navbar-btn">Start parking</button>

            <button ng-click="demoApp.openCreateParkingSpaceModal()" type="button" class="btn btn-primary navbar-btn">Create space</button>
            <button ng-click="demoApp.refresh()" type="button" class="btn btn-default navbar-btn"><span
                    class="glyphicon glyphicon-refresh"></span></button>
        </div>
    </nav>

    <script type="text/ng-template" id="startParkingModal.html">
        <div class="modal-header">
            <h4 class="modal-title">Being new parking session</h4>
        </div>
        <form>
            <div class="modal-body">
                <div class="form-group">
                    <label for="startParkingParkingSpace" class="control-label">Available Parking Spaces:</label>
                    <select ng-model="startParkingModal.form.parkingSpace" class="form-control" id="startParkingParkingSpace"
                            ng-options="space.address for space in startParkingModal.freeParkingSpaces">
                    </select>
                </div>
                <div ng-show="startParkingModal.formError" class="form-group">
                    <div class="alert alert-danger" role="alert">
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                        <span class="sr-only">Error:</span>
                        Enter valid parking session parameters
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button ng-click="startParkingModal.cancel()" type="button" class="btn btn-default">Close</button>
                <button ng-click="startParkingModal.create()" type="button" class="btn btn-primary">Start</button>
            </div>
        </form>
    </script>

    <script type="text/ng-template" id="createParkingSpaceModal.html">
        <div class="modal-header">
            <h4 class="modal-title">Create parking space</h4>
        </div>
        <form>
            <div class="modal-body">
                <div class="form-group">
                    <label for="parkingSpaceDayRate" class="control-label">Daytime Hourly Rate (Double):</label>
                    <input type="number" ng-model="createParkingSpaceModal.form.dailyRate" class="form-control" id="parkingSpaceDayRate">
                </div>
                <div class="form-group">
                    <label for="parkingSpaceNightRate" class="control-label">Nighttime Hourly Rate (Double):</label>
                    <input type="number" ng-model="createParkingSpaceModal.form.nightlyRate" class="form-control" id="parkingSpaceNightRate">
                </div>
                <div class="form-group">
                    <label for="parkingSpaceAddress" class="control-label">Address:</label>
                    <input type="text" ng-model="createParkingSpaceModal.form.address" class="form-control" id="parkingSpaceAddress">
                </div>
                <div ng-show="crateParkingSpaceModal.formError" class="form-group">
                    <div class="alert alert-danger" role="alert">
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                        <span class="sr-only">Error:</span>
                        Enter valid parking space parameters
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button ng-click="createParkingSpaceModal.cancel()" type="button" class="btn btn-default">Close</button>
                <button ng-click="createParkingSpaceModal.create()" type="button" class="btn btn-primary">Create</button>
            </div>
        </form>
    </script>


    <script type="text/ng-template" id="createParkingSpaceMsgModal.html">
        <div class="modal-body" id="create-parking-space-modal-body">
            {{ createParkingSpaceMsgModal.message }}
        </div>
    </script>
    <script type="text/ng-template" id="startParkingMsgModal.html">
        <div class="modal-body" id="create-iou-modal-body">
            {{ startParkingMsgModal.message }}
        </div>
    </script>

    <script type="text/ng-template" id="issueCashModal.html">
        <div class="modal-header">
            <h4 class="modal-title">Self-issue cash</h4>
        </div>
        <form>
            <div class="modal-body">
                <div class="form-group">
                    <label for="issueCashAmount" class="control-label">Amount (Int):</label>
                    <input type="text" ng-model="issueCashModal.form.amount" class="form-control" id="issueCashAmount">
                </div>
                <div ng-show="issueCashModal.formError" class="form-group">
                    <div class="alert alert-danger" role="alert">
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                        <span class="sr-only">Error:</span>
                        Enter valid cash issuance parameters.
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button ng-click="issueCashModal.cancel()" type="button" class="btn btn-default">Close</button>
                <button ng-click="issueCashModal.issue()" type="button" class="btn btn-primary">Issue cash</button>
            </div>
        </form>
    </script>

    <script type="text/ng-template" id="issueCashMsgModal.html">
        <div class="modal-body" id="issue-cash-modal-body">
            {{ issueCashMsgModal.message }}
        </div>
    </script>


    <script type="text/ng-template" id="msgModal.html">
        <div class="modal-body" id="msg-modal-body">
            {{ msgModal.message }}
        </div>
    </script>

    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Cash balances:</h3>
                </div>
                <div class="panel-body">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Amount</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="cash in demoApp.cashBalances">
                            <td class="vert-align">{{cash}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div ng-show="!demoApp.activeTenantParkings.length" class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">There are no active parking sessions</h3>
                </div>
                <div class="panel-body">Use the "Start parking" button to start a parking session.</div>
            </div>
            <div ng-show="demoApp.activeTenantParkings.length" class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Active parking sessions:</h3>
                </div>
                <div class="panel-body">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Address</th>
                            <th>Amount to pay</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="activeTenantParking in demoApp.activeTenantParkings">
                            <td class="vert-align">{{activeTenantParking.space.address}}</td>
                            <td class="vert-align">{{activeTenantParking.amount}}</td>
                            <td>
                                <div class="btn-group" role="group">
                                    <button ng-click="demoApp.finishParking(activeTenantParking.linearId.id, activeTenantParking.parkingSpaceReference.id)" type="button" class="btn btn-primary">Finish
                                    </button>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div ng-show="!demoApp.activeRenterParkings.length" class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">There are no active renting sessions</h3>
                </div>
                <div class="panel-body">Use the "Refresh" button to query for renting sessions.</div>
            </div>
            <div ng-show="demoApp.activeRenterParkings.length" class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Active renting sessions:</h3>
                </div>
                <div class="panel-body">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Address</th>
                            <th>Amount to pay</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="activeRenterParking in demoApp.activeRenterParkings">
                            <td class="vert-align">{{activeRenterParking.space.address}}</td>
                            <td class="vert-align">{{activeRenterParking.amount}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
</div>
<div class="container">
    <div class="loader" ng-show="demoApp.shouldLoad"></div>
</div>
</body>
</html>