.table tbody>tr>td.vert-align{
    vertical-align: middle;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10%;
    height: 100vh;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}